.footer {
    height: 100px;
    background: url(../images/pexels-s-migaj-747964.jpg) no-repeat
      center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.footer-header {
  margin-top: 11cm;
  margin-left: 1cm;
  margin-right: 1cm;
  background: rgba(255, 255, 255, 0.418);
}