<div class="container">
    <h1 class="header table">
        Emissions List
        <input type="button" value="Add new Emission" class="btn btn-sm btn-primary" (click)="addEmission()" />
    </h1>
    
    
    
    <table *ngIf="emissionTableMode; else createEmissions" class="table table-striped">
        <thead>
          <tr>
            <td>Pollutant</td>
            <td>Concentration</td>
            <td>Units</td>
            <td>Date</td>
            <td>Source number</td>
            <td></td>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let e of emissions">
              <ng-template [ngIf]="emission?.id != e.id" [ngIfElse]="editEmissions">
                <td>{{e?.pollutant}}</td>
                <td>{{e?.concentration}}</td>
                <td>{{e?.units}}</td>
                <td>{{e?.date}}</td>
                <td>{{e?.source_Id}}</td>
                <td>
                  <button class="btn btn-sm btn-primary" (click)="editEmission(e)">Edit</button>
                  <button class="btn btn-sm btn-danger" (click)="deleteEmission(e)">Delete</button>
                </td>
              </ng-template>
            </tr>
        </tbody>
    </table>
     
    <!--шаблон для редактирования-->
    <ng-template #editEmissions>
      <td>
        <select type="text" class="form-group" [(ngModel)]="emission.pollutant">
          <option value="SO2">Sulphur Dioxide</option>
          <option value="NO">Nitric Oxide</option>
          <option value="NO2">Nitrogen Dioxide</option>
          <option value="NH3">Ammonia</option>
          <option value="CO">Carbon Monoxide</option>
          <option value="CO2">Carbon Dioxide</option>
          <option value="VOCs">Volatile organic compounds</option>
          <option value="PM">Particulates</option>
        </select>
        <input type="text" [(ngModel)]="emission.pollutant" class="form-control" disabled/>
      </td>
      <td>
        <input type="number" [(ngModel)]="emission.concentration" class="form-control" />
      </td>
      <td>
        <select type="text" class="form-group" [(ngModel)]="emission.units">
          <option value="ug/m3">Micrograms of gaseous pollutant per cubic meter of ambient air</option>
          <option value="ppm">Parts per Million</option>
          <option value="ppb">Parts per billion</option>
        </select>
        <input type="text" [(ngModel)]="emission.units" class="form-control" disabled/>
      </td>
      <td>
        <input type="date" [(ngModel)]="emission.date" class="form-control" />
      </td>
      <td>
        <select type="number" class="form-control" [(ngModel)]="emission.source_Id" (ngModelChange)="formChanged()">
          <option type="number" *ngFor="let s of sources" ngValue={{s.id}}>{{s.city}}</option>
      </select>
        <input type="number" [(ngModel)]="emission.source_Id" class="form-control" disabled/>
      </td>
      <td>
        <input type="button" value="Save" (click)="saveEmission()" class="btn btn-sm btn-success" />
        <input type="button" value="Cancel" (click)="cancelEmission()" class="btn btn-sm btn-warning" />
      </td>
    </ng-template>
     
    <!--шаблон для добавления-->
    <ng-template #createEmissions>
      <div class="form-group">
        <label>Pollutant</label>
        <select type="text" class="form-group" [(ngModel)]="emission.pollutant">
          <option value="SO2">Sulphur Dioxide</option>
          <option value="NO">Nitric Oxide</option>
          <option value="NO2">Nitrogen Dioxide</option>
          <option value="NH3">Ammonia</option>
          <option value="CO">Carbon Monoxide</option>
          <option value="CO2">Carbon Dioxide</option>
          <option value="VOCs">Volatile organic compounds</option>
          <option value="PM">Particulates</option>
        </select>
        <input type="text" [(ngModel)]="emission.pollutant" class="form-control" disabled/>
      </div>
      <div class="form-group">
        <label>Concentration</label>
        <input type="number" [(ngModel)]="emission.concentration" class="form-control" />
      </div>
      <div class="form-group">
        <label>Units</label>
        <select type="text" class="form-group" [(ngModel)]="emission.units">
          <option value="ug/m3">Micrograms of gaseous pollutant per cubic meter of ambient air</option>
          <option value="ppm">Parts per Million</option>
          <option value="ppb">Parts per billion</option>
        </select>
        <input type="text" [(ngModel)]="emission.units" class="form-control" disabled/>
      </div>
      <div class="form-group">
        <label>Date</label>
        <input type="datetime" [(ngModel)]="emission.date" class="form-control" />
      </div>
      <div class="form-group">
        <label>Source number</label>
        <input type="number" [(ngModel)]="emission.source_Id" class="form-control" />
      </div>
      <div>
        <input type="button" value="Save" (click)="saveEmission()" class="btn btn-success" />
        <input type="button" value="Cancel" (click)="cancelEmission()" class="btn btn-warning" />
      </div>
    </ng-template>
</div>
